<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>预订机票</title>
    <link rel="stylesheet" href="/static/asserts/css/navigate.css">
    <link rel="stylesheet" href="/static/asserts/css/update.css">
    <link rel="shortcut icon" href="/static/asserts/img/xlogo.png" type="image/x-icon">
</head>
<body>
{include file='public/head'}
<div class="div-style">
    <form class="basic-grey">
        <h1>1.添加乘机人</h1>
        <label>
            <span>乘机人姓名</span>
            <input type="text" placeholder="乘机人姓名" name="passName">
        </label>
        <label>
            <span>身份证号</span>
            <input type="text" placeholder="乘机人有效证件号" name="idNumber">
        </label>
        <label>
            <span>性别</span>
            <input type="text" placeholder="乘机人性别" name="passSex">
        </label>
        <label>
            <span>联系方式</span>
            <input type="text" placeholder="联系电话" name="passTel">
        </label>
        <label>
            <span>&nbsp;</span>
            <input type="button" id="next" class="button" value="下一步">
        </label>
    </form>
</div>
{include file='public/js'}
<script>
    $(function () {
        $('#next').click(function () {
            $.ajax({
                url:"{:url('admin/passenger/passengeradd')}",
                type:'post',
                data:$('form').serialize(),
                datatype:'json',
                success:function (data) {
                    if(data.code==1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:1000
                        },function () {
                            //jump
                            location.href = data.url;
                        });
                    }else{
                        layer.open({
                            title:"提示",
                            content:data.msg,
                            icon:5,
                            anim:6
                        })
                    }
                }
            })
        });
    })
</script>
</body>
</html>